$app-footer-button-background: #2196F3;
.show-more {
  padding: 20px 0 50px 0;
  width: 100%;

  .show-more__button {
    width: 100%;
    background: $app-footer-button-background;
    padding: 15px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}