@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$main-body-background: #F3F7FA;

* {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

.outer-wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $main-body-background;
}

.content-wrapper {
  max-width: 760px;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;



  .ticket-wrapper {
    display: flex;
    justify-content: space-between;

    .content-wrapper__ticket-info {
      width: 502px;
    }
  }
}